name: Checking Broken Links

on:
  push:
    branches:
      - main

  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  linkChecking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.8.0
        
